[submodule "example/custom-search-engine/src/cld"]
	path = example/custom-search-engine/src/cld
	url = https://github.com/mzsanford/cld
[submodule "src/third_party/cld"]
	path = src/third_party/cld
	url = https://github.com/mzsanford/cld
