<html>
<head>
    <title>News</title>
    <link rel=stylesheet type="text/css" href="css/main2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina+Sketch|Monofett|Londrina+Shadow' rel='stylesheet' type='text/css'>
    
</head>
<body>


    <center>
    <div class="search_logo2"><strong>Search</strong></div>
    <br/><br/><br/><br/><br/><br/>
    <div class="input-append search_box2">
            <form action="search" method="post">
                <input type="text" style="width:400px;height:25px;" name="q" class="span2"/>
                <button type="submit" class="btn">
                    <i class="icon-search"></i>
                </button> 
            </form>
    </div>

    </center>

</body>
</html>
