<html>
<head>
    <title>News</title>
    <link rel=stylesheet type="text/css" href="css/main2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina+Sketch|Monofett|Londrina+Shadow' rel='stylesheet' type='text/css'>
    
</head>
<body>


    <center>
    <div class="">
        <%= q%>
    </div>

    </center>

</body>
</html>
